<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<!-- 启动元注解方式处理请求与响应,并设置fastjson为序列化/反序列化的消息处理器 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
				<property name="features">
					<list>
						<value>WriteMapNullValue</value>
						<value>WriteNullNumberAsZero</value>
						<value>WriteNullStringAsEmpty</value>
						<value>WriteDateUseDateFormat</value>
						<value>WriteEnumUsingToString</value>
						<value>QuoteFieldNames</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<context:component-scan base-package="com.accp.t5.action" />

	<mvc:default-servlet-handler />

	<!--内容协商管理 1、检查扩展名（如test.xxx）；2、检查Parameter（如my?format=xxx）；3、检查Accept Header -->
	<bean id="contentNegotiationManager"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<!-- 扩展名至mimeType的映射,即/api/users.xml => application/xml -->
		<property name="favorPathExtension" value="true" />
		<!-- 用于开启 /api/users?format=json 的支持 -->
		<property name="favorParameter" value="true" />
		<property name="parameterName" value="format" />
		<!-- 是否忽略Accept Header -->
		<property name="ignoreAcceptHeader" value="false" />
		<!--扩展名到MIME的映射；favorPathExtension, favorParameter是true时起作用 -->
		<property name="mediaTypes">
			<props>
				<prop key="json">application/json</prop>
				<prop key="xml">application/xml</prop>
			</props>
		</property>
	</bean>
	<!-- 配置多内容协作视图 【非常重要】-->
	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="order" value="0" />
		<!-- 2.引用内容协商管理 -->
		<property name="contentNegotiationManager" ref="contentNegotiationManager" />
		<property name="defaultViews">
			<list>
				<bean
					class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
					<property name="objectMapper">
						<bean class="com.fasterxml.jackson.databind.ObjectMapper">
							<property name="dateFormat">
								<bean class="java.text.SimpleDateFormat">
									<constructor-arg type="java.lang.String" value="yyyy-MM-dd" />
								</bean>
							</property>
						</bean>
					</property>
				</bean>
				<bean class="org.springframework.web.servlet.view.xml.MarshallingView">
					<constructor-arg>
						<bean class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
							<property name="classesToBeBound">
								<list>
									<value>com.accp.t5.vo.Users</value>
								</list>
							</property>
						</bean>
					</constructor-arg>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 视图资源文件视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="1" />
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 视图映射 -->
	<mvc:view-controller path="/c/members/load1" view-name="info1"/>
	<mvc:view-controller path="/c/members/load2" view-name="info2"/>
	<mvc:view-controller path="/c/members/index" view-name="list"/>
	
	
	<!-- 2.配置拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
		<!-- 拦截 -->
			<mvc:mapping path="/c/**"/>
			<!-- <mvc:mapping path="/api/**"/> -->
			<!-- 排除 -->
			<mvc:exclude-mapping path="/c/members/loginIn"/>
			<mvc:exclude-mapping path="/c/members/loginOut"/>
			<!-- 你写的拦截路径 -->
			<bean class="com.accp.t5.interceptor.SessionValidateInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	
	
	

</beans>
